
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "~font-awesome/scss/font-awesome";
@import "~jquery.fancybox/source/jquery.fancybox.css";


.ck.ck-editor{
    min-height: 500px;
    .ck.ck-editor__editable_inline{
        min-height: 500px;
    }
}
