@mixin sitefont{
  font-weight: 400!important;
  color:$secondarycolor;
  line-height: $fsize + 10;
  font-size:$fsize;
}
@mixin subtitle{
  font-size:$fsize + 10;
  font-weight: inherit;
}
@mixin smalltitle{
  font-size:$fsize + 4;
  font-weight: 500;
}
@mixin title{
  font-size:$fsize + 20;
  font-weight: 600;
}
@mixin fbold{
  font-weight: 600;
}
@mixin flight{
  font-weight: 300;
}
@mixin py15{
  padding-top:15px;
  padding-bottom:15px;
}
@mixin px15{
  padding-right:15px;
  padding-left:15px;
}
@mixin py0{
  padding-top:0;
  padding-bottom:0;
}
@mixin my15{
  margin-top:15px;
  margin-bottom:15px;
}
@mixin transition{
  transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -webkit-transition:all 0.2s ease;
  -ms-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
}
@mixin homelink{
  color:$themecolor;
  text-transform: uppercase;
  letter-spacing: 2px;
}
@mixin position{
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
@mixin objectfitcover{
  object-fit:cover;
  -moz-object-fit:cover;
  -webkit-object-fit:cover;
  -ms-object-fit:cover;
  -o-object-fit:cover;
}


//mixins for responsive breakpoints

@mixin mobile{
  @media (min-width:#{$mobile-width}) and (max-width:#{$tablet-width -  1px}){
    @content;
  }
}

@mixin tablet{
  @media (min-width:#{$tablet-width}) and (max-width:#{$laptop-width - 1px}){
    @content;
  }
}

@mixin laptop{
  @media (min-width:#{$laptop-width}) and (max-width:#{$desktop-width - 1px}){
    @content;
  }
}