//general styles for appending all pages

body{
    background: #151518;
    //background:$darkcolor;
    @include sitefont;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    font-size:$fsize;

    @include mobile{
        font-size:$fsize - 2;
    }
}

ul{
    li{
        list-style: none;
    }
}

main{
    padding-top:70px;
}

.s_description{
    & > p, > div, ._2cuy {
        font-weight: normal;
        color: #f2f2f2 !important;
        margin: 0px 0px 20px 0px !important;
        padding: 0px !important;
        width: 100% !important;
        line-height: $fsize + 14;
        font-size:$fsize!important;
        font-family:Poppins, sans-serif!important;

        @include mobile{
            font-size:$fsize -  2!important;
            text-align:left!important;
        }
    }
}

.st-remove-label{
    min-width:auto;
}
.st-btn{
        width:40px!important;
    }



//mobile styles



@include mobile{
   main{
       padding-top:76px!important;
   }
    .text-center-mob{
        text-align:center;
    }
}
@include tablet{
    main{
        padding-top:75px;
    }
}



//coomon styles 
a{
    @include transition;
    &:hover{
        text-decoration: none;
        color:$secondarycolor;
    }
}

@include mobile{
    .detail-list{

        padding:15px 0;

        .seriesfig{
            .time{
                right:inherit!important;
                left:0;
                top:0;
                bottom:inherit!important;
            }
        }
    }
}

//tablet
@include tablet{
    .detail-list{

        padding:15px 0;

        .seriesfig{
            .time{
                right:inherit!important;
                left:0;
                top:0;
                bottom:inherit!important;
            }
        }
    }
}

.descseries{
    h6{
        a{
            color:$secondarycolor;
            font-size:$fsize - 2;

            &:hover{
                color:$themecolor;
            }
        }
    }
}

.hometitle{
    .subtitle{
        @include subtitle;               
    }
    h2{
        @include subtitle;

        @include mobile{
            font-size:$fsize + 6;
        }

        a{        
            @include homelink;
            font-size:$fsize;
            @include px15;

            &:hover{
                color:$secondarycolor;
            }
        }
    }
}
.fixed-theme{
    background:rgba(0,0,0,1);
}

@include mobile{
    .navbar-toggler{
        border:1px solid $secondarycolor;
        @include transition;

        &:hover{
            background:$themecolor;
            border:1px solid $themecolor;

            .icomoon{
                color:$secondarycolor;
            }
        }

        &:focus{
            outline:none;
        }
    }
}

//header styles starts
header{
    background:rgba(0,0,0,1);
    @include py15;

    //mobile start

    @include mobile{
        background:rgba(0,0,0,1);

        .navbar-collapse{
            padding-top:35px;

            .navbar-nav{
                display:inline-block;
                margin-top:20px;

                .nav-item{
                    float: left;
                    width: 30px;
                    text-align: left!important;

                    .border-right{
                        border:none!important;
                    }
                }
            }
        }
    }
    //mobile end

    //tablet start
    @include tablet{
        background:rgba(0,0,0,1);
    }
    //tablet end

    a{
        color:$secondarycolor;
        font-size:$fsize;
        padding-top:0!important;
        padding-bottom:0!important;

        &:hover{
            color:$themecolor;

            .icomoon{
                color:$themecolor;
            }
        }
    }
    .btn-search{
        display:none;
        margin-right:10px;

        .icomoon{
            margin-right:10px;
        }
    }
   
    .navbar-brand{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        @include mobile{
            position:absolute;
            top:-10px;
            right:-70px;
            left:inherit;
        }

        img{
            width:180px;
        }
    }

    .icon{
        width:20px;
    }
    
    .dropdown{
        .dropdown-menu{
        background:$darkcolor;
        min-width:250px;
        border-radius:0;
        margin-top:23px;
        padding-top:0;
        padding-bottom:0;
        
            .dropdown-item{
                color:$secondarycolor;
                padding:10px 15px!important;
                border-bottom:1px dashed #888;
                text-transform: uppercase;

                &:hover{
                    background:$themecolor;
                }
            }
        }        
        .icon{
            float:left;
            margin:2px 10px 0 0;
        }
    }
    .search{
        width:1170px;
        height:60px;
        background:$darkcolor;
        margin:-60px auto 0  -585px;
        text-align: center;
        position: absolute;
        border-bottom:1px solid #ccc;
        z-index: 999;
        padding-left:20px;
        left:50%;
        top:0;
        @include transition;

        .closeicon{
            width:15px;
            float: right;
            margin:20px 25px 0 0;
        }

        input[type="text"]{
            width:85%;
            background:none;
            border:none;
            border-radius:0;
            height:50px;
            float:left;           
            color:$secondarycolor;           
            opacity: 1;
            @include transition;
            
            &:focus{               
                outline:none;
            }
        }        
    }
    .searchfull{
        margin-top:0;
        @include transition;
       
        input[type="text"]{
            opacity: 1;
            width:90%;
        }
    }
}
//header styles ends

//carousel starts
.homecarousel{
    height:100vh;

    @include tablet{
        height:auto;
    }

    @include mobile{
        height:auto;
    }

    .carousel-indicators{
        display: none;
    }
    .carousel-inner{
        height:100vh;

        @include mobile{
            height:auto;
        }
        @include tablet{
            height:auto;
        }

        .carousel-item{

            @include mobile{
               min-height:180px;
                height:100%;
            }
            @include tablet{
                height:auto;
                min-height: 500px;
            }

           height: 100vh;
            min-height: 250px;
            background: no-repeat center center scroll;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;           

            .carousel-caption{
                background-image:linear-gradient(transparent, black 50%);
                left:0;
                bottom:0;
                right:0;
                text-align: left;

                @include mobile{
                    display:none;
                }

                .captionin{
                    width:75%;
                    margin:0 auto;

                    h2{
                        a{
                            color:$secondarycolor;
                        }
                    }

                    h5{ 
                        @include subtitle;
                        margin-bottom:0;
                        
                        
                    }
                    .slidertitle{
                       a{
                            @include title;
                            color:$secondarycolor;

                           @include tablet{
                               font-size:$fsize + 5!important;
                           }
                       }
                    }
                }  
            }
        }
    }
    .carousel-control-prev{
        width:50px;
        height:50px;
        background:$themecolor;
        top:45%;
        opacity: 1;

        &:hover{
            background:$secondarycolor;

            .icomoon{
                color:$themecolor;
            }
        }


        @include mobile{
            background:none;
        }

        img{
            width:25px;
        }
        .icomoon{
            font-size:20px;
            color:$secondarycolor;
        }
    }
    .carousel-control-next{
        width:50px;
        height:50px;
        background:$themecolor;
        top:45%;
        opacity: 1;

        &:hover{
            background:$secondarycolor;

            .icomoon{
                color:$themecolor;
            }
        }

        @include mobile{
            background:none;
        }

        img{
            width:25px;
        }
        .icomoon{
            font-size:20px;
            color:$secondarycolor;
        }
    }
}
//carousel ends 

//home channels starts
.channels{
    @include mobile{
        .channelcol{
            figure{
                margin-bottom:0;
            }
        }
    }

    background:lighten($darkcolor, 8);
    .channelcol{
        img{
            width:114px;
            height:114px;
            margin:0 auto;
            border-radius:50%;

            @include mobile{
                width:80px;
                height:80px;
            }
        }
        article{

            @include py15;

            @include mobile{
                padding-top:10px;
                padding-bottom:10px;
            }

            h5{
                a{
                    font-size:$fsize +4;
                    @include fbold;
                    color:$secondarycolor;

                    @include mobile{
                        font-size:$fsize + 1;
                    }
                }
            }
            p{
                color:$themecolor;
                line-height: 20px;
                margin-bottom:0;
            }
        }
    }  
}
//home channels ends

.sliderhome{
    .item{
        position: relative;  
        padding-right:0;
        padding-left:0;
        
        &:before{
            content:'';
            background:$darkcolor;
            @include position;
            height:100%;
            opacity: 0;
            @include transition;            
        }
       
        &:hover{
            &:before{  
                opacity:0.8;
                height:100%;               
            }
            article{
                opacity:1;
                display: block;
            }
        }
    }

    article{
        @include position;
        text-align: center;
        top:calc(50% - 20px);
        @include transition;
        opacity: 0;
        display: none;

        h4{
            @include mobile{
                letter-spacing: 0;
            }

            font-size:$fsize + 6;
            color:$themecolor;
            text-transform: uppercase;
            padding-bottom:10px;
        }

        h5{
            font-size:$fsize - 1;
            padding:15px 0;

            a{
                color:$secondarycolor;
                font-size:$fsize - 1!important; 
                             
                &:hover{
                    text-decoration: underline;
                    color:$themecolor;
                    text-decoration: none;
                }
            }
        }
    }
    .rightRs{
        line-height: 46px;
    }
    .leftRs{
        line-height: 46px;
    }

}

.videoslist{

    .row{
        text-align:center;
    }
    .item{
        position: relative;  
        padding-right:0;
        padding-left:0;

        figure{
            img{
                width:100%;
                height:180px;
                object-fit:cover;
            }
        }

        article{
            background:lighten($darkcolor, 10);
            padding:10px;
            margin-top:-5px;
            text-align: left;
            a{
                color:$secondarycolor;
                font-size:$fsize - 4 !important;
                white-space:initial!important;
                text-transform: capitalize;

                &:hover{
                    color:$themecolor;
                }
            }
        }
    }
    .rightRs{
        top:-50px;
        line-height: 46px;
    }
    .rightRs{
        top:-50px;
        line-height: 46px;
    }
}

.diaries{
    .item{
        article{
            h5{
                a{
                    font-size:$fsize!important;
                }
            }
        }
    }
}

.resCarousel{
    figure{
        img{
           &:hover{
            filter: grayscale(100);
           }
        }
    }
}

.memes{

    @include mobile{
        .leftRs{
            top:-120px;
        }
        .rightRs{
            top:-120px;
        }
    }
    .memeslist{
        display:inline-block;
        padding-left:0;

        li{
            float:left;
        }
    }

    .sliderhome{

        figure{
            img{
                height:394px;
               @include objectfitcover;

                @include mobile{
                    height:auto;
                    min-height:200px;
                }
            }
        }
        .row{
            text-align:center!important;
        }
    }
}


//footer  styles starts
footer{
    background:lighten($darkcolor, 8);
    min-height: 100px;   
    color:$secondarycolor;

    .signcol{
       h6{
        font-size:$fsize - 2;

       } 
       p{
           font-size:$fsize - 2;
           line-height:$fsize +5;
       }
       .form-control{
            background:$secondarycolor;
            border:none;
            width:100%;
            font-size:$fsize - 1;
            height:42px;
            padding:0 10px;
            border-radius:0;

            &::placeholder{
                color:#ccc;
            }
       }
       input[type="submit"]{
           background:$themecolor;
           border-radius:0;
           height:42px;
           color:$secondarycolor!important;

           &:hover{
               background:darken($themecolor, 20%);
           }
       }
    }
    .nav{
        .nav-item{
            .nav-link{
                color:$secondarycolor;
                padding:0.5rem 7px;

                &:hover{
                    color:$themecolor;
                }
            }
        }
    }
    .copyrights{
        background:$themecolor;
        padding:10px 0;

        p{
            font-size:$fsize - 1;
            margin-bottom:0!important;
        }
    }
}
//footer styles ends 

//sub page styles starts
.subpagemain{
    min-height:600px;
    margin-top:0;

    @include mobile{
        margin-top:0;
    }

    @include tablet{
        margin-top:0;
    }

    //sub page header 
    .subpage-header{
        background:lighten($darkcolor, 8);
        min-height:50px;
        padding:10px 0;

        .pagetitle{
            h1{
                @include subtitle;
                border-left:2px solid $themecolor;
                padding:0 0 0 10px;
                margin-bottom:0;
            }
        }
        .brcrumb{
            li{
                a{
                    color:$secondarycolor;

                    &:after{
                        content:'/';
                        padding:0 10px;
                    }
                }

                &:last-child{
                    a{
                        color:$themecolor;
                        &:after{
                            content:'';
                            padding-left:0;
                        }
                    }
                }
            }
        }
    }

    //sub page main 
    .subpagebody{
        @include py15;
        p{
            text-align: justify; 
            padding-bottom:15px;
            margin-bottom:0;
            word-break:break-word;
        }
        h2{
            @include subtitle;                      
            padding:10px 0;
            letter-spacing: -1px;
            line-height:$fsize * 2 + 2;

            @include mobile{
                font-size:$fsize + 4;
            }

            span{
                color:$themecolor;
            }
        }
        .highlate{
           background:lighten($darkcolor, 10);
           min-height:50px;
           padding:30px;

            @include tablet{
                margin-bottom:20px;
            }

            .svghigh{
                width:60px;
            }

            h3{
                @include smalltitle;
                text-transform: uppercase;

                @include mobile{
                    margin-top:15px;
                }
            }
            p{
                color:$themecolor;
                padding-top:10px;
                font-size:$fsize * 2;

                @include mobile{
                    text-align:center;
                }
            }
        }
    }
    //list item{
    .listitem{
        margin-bottom:20px;
        &:hover{
            a{
                color:$themecolor;
            }
            .comments-col{
                a{
                    color:$secondarycolor;
                }
            }
        }
        padding:5px;
        border:1px solid lighten($darkcolor, 25);
        figure{
            a{
                img{
                    @include objectfitcover;
                    width:100%;

                    &:hover{
                        filter: grayscale(100%);
                    }
                }
            }
        }
       
        a{
            font-size:$fsize - 2;
            color:$secondarycolor;
            line-height:$fsize - 2;           
        }
    }
    //page nation
    .pagination{
        border-radius:0;
        .page-link{
            background:none;
            color:$secondarycolor;

            &:hover{
                background:$themecolor;
            }
        }
    }
    .videolist{      
        border:none;
        padding:0;
    
        article{
            border-bottom:1px solid $secondarycolor;
            padding-bottom:5px;
        }

        .comments-col{
            padding:10px 0;
            text-align:right;
            a{
                float:left;

                &:last-child{
                    float:right;
                }
            }
            .svg{
                width:15px;
                float:left;
                margin-right:5px;
            }
        }
    }
    .webserieslist{
        article{
            a{
                line-height: $fsize + 10;
            }
        }
        &:hover{
            a{
                color:$secondarycolor;
            }
        }
        padding:0;
        border:none;
        article{
            padding:10px 0;
            .webanchor{
                font-size:$fsize + 6;
                text-transform: uppercase;
                text-align: center;
                display: block;
            }
            .features{
                padding:10px 0;
                font-size:$fsize - 1; 

                a{
                    color:$themecolor;
                }
            }
        }
    }
    .addcol{
       background:lighten($darkcolor, 10); 
       width:100%;
       height:120px;
       padding:20px;

        @include tablet{
            height:auto;
        }

       @include my15;

       p{
           font-size:$fsize - 1;
           text-align: inherit;
           line-height:$fsize + 5;
       }

       .h5{
           @include smalltitle;
           @include flight;
           padding-bottom:6px;
       }
       a{
           color:$themecolor;
           

           &:hover{
               color:$secondarycolor;
           }
       }
    }
    .tablecontact{

        tr{
            td{

                @include tablet{
                    padding:5px;
                }

                padding:10px;
                vertical-align: middle;

                a{
                    color:$secondarycolor;

                    &:hover{
                        .icomoon{
                            color:$themecolor;
                        }
                    }

                    .icomoon{
                        font-size:20px;
                    }
                }
            }
        }

        figure{
            background:lighten($darkcolor, 10); 
            width:50px;
            height: 50px;
            line-height:60px;
            border-radius:50%;
            text-align: center;

            @include tablet{
                line-height: 50px;
            }
        }

        .svg{
            width:25px; 
        }
    }
    form{
        label{
            font-size:$fsize - 1;
            padding-bottom:5px;
        }
        .form-control{
            background:lighten($darkcolor, 10);
            height:48px;
            border:none;
            border-radius:0;
            color:#888;
            font-size:$fsize - 1;

            &:focus{
                outline:none;
                border:none;
                box-shadow: none;
            }
        }
        .btn-theme{
            background:$themecolor;
            border-radius:0;
            color:$secondarycolor;
            @include px15;
        }
    }
    .themecolor{
        color:$themecolor;

        &:hover{
            color:$secondarycolor;
        }
    }
    .articledetail{



       @include mobile{
           iframe{
               height:auto;
               min-height: 200px;
           }
           figure{
               img{
                   margin-top:20px;
               }
           }
       }
        .dtnote{
            span{
                &:after{
                    content:'|';
                    color:$themecolor;
                    padding:0 15px;
                } 
                
                &:last-child{
                    &:after{
                        padding:0;
                        content:" ";
                    }
                }
            }
        }
        .detailsocial{
            .nav-item{
                margin-left:5px;
            }
        }
    }   
}

.btn{
    border-radius:0;
}

.statusspan{
    color:$themecolor;
}

//sub page styles ends 
.seriesrow{
    border-bottom:1px solid lighten($darkcolor, 30);
    .seriesfig{       
        position:relative;
        margin-bottom:10px;
        
        .time{
            background:$darkcolor;
            padding:2px;
            color:$secondarycolor;
            bottom:0;
            right:0;
            font-size:$fsize - 3;
            line-height:16px;
        }
    }
    .descseries{
        h5{
            @include smalltitle;
            @include fbold;

            a{
                color:$secondarycolor;
            }
        }
        p{
            text-align:justify;
            padding-top:10px;
        }
    } 
    .comtable{
        td{
            padding:5px;
            vertical-align: top;
        }
        .svg{
            width:22px;
        }
    }   
}

.serieslist{
    .svg{
        width:85px;
        position: absolute;
        top:50%;
        left:50%;
        margin-left:-30px;
        margin-top:-30px;

        @include mobile{
            width:56px;
            margin-left:-15px;
            margin-top:-15px;
        }
    }
}

.pagecolumn{

    &:hover{
        article{
            opacity:1;
        }
    }

    figure{
        img{
            height:320px;
            object-fit:cover;
        }
    }

    position:relative;
    article{
        background:lighten($darkcolor, 10);
        padding:10px;
        margin-top:-5px;
        text-align: center;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;  
        opacity:0;

        @include transition;

        .articlein{
            padding-top:30%;
        }
        
        ul{
            padding-left:0;
            li{
                display: inline;
            }
        }

        a{           
            color:$secondarycolor;                
            font-size:$fsize - 1!important;
    
            &:hover{
                color:$themecolor;
            }
        }
        .link{
            border:1px solid #333;
            margin-bottom:20px;
            padding:10px 25px;           
        } 
    }
}


.videodialog{
    max-width:600px;

    img{
        width:100%!important;
    }


    .embed-responsive-item{  
       
        body{
            text-align: center;

            img{
                width:100%;
            }
        }
    }
}

.fb-comments{
    min-height: 300px;
}
.viewtime{
    font-size:$fsize - 2;
}
@include tablet{
    .tnone{
        display:none;
    }
}

.right-author{
    background:lighten($darkcolor, 8);
    padding:15px;
    color:$secondarycolor;

    .table{
        color:$secondarycolor!important;

       thead{
           th{
               color:$themecolor;
           }
       }

        td{
            border-top:1px solid #4b4b4b;
            color:$secondarycolor;
        }

    }

    .author-img{
        width:150px;
    }
    .note-toolbar{
        background:#fff;
        border-bottom:1px solid #ccc;
    }
}

.author-leftnav{
    .h5{
        color:$themecolor;
    }

    .active{
        a{
            color:$themecolor;
        }
    }

    li{
        a{
            color:$secondarycolor;
            padding:5px 0;
            display:block;

            &:hover{
                color:$themecolor;
            }
        }
    }
}
.modal-author{
    .modal-title{
        color:$darkcolor;
    }
    .storybody-author{
        color:$darkcolor;
    }
}
