//frontend variables
$darkcolor:#000;
$secondarycolor:#fff;
$themecolor:#c64e2c;
$fsize:14px;
$letterspacing: 3px;

//variables for responsive devices
$mobile-width:320px;
$tablet-width:768px;
$laptop-width:1024px;
$desktop-width:1200px;