/*resCarousel Css*/

.outt {
    display: none;
}

.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    z-index: 100;
    left: 0;
    width: 45px;
    height: 45px;
    border-radius: 999px;
    cursor: pointer;
    background:rgba(0, 0, 0, .6);
    text-align: center;
    line-height: 60px;

    @include mobile{
        line-height:50px;
    }
}
.leftRs:hover{
    background:#c64e2c;
}
.leftRs img{
    width:20px;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    width: 45px;
    height: 45px;
    border-radius: 999px;
    cursor: pointer;
    text-align: center;
    line-height: 60px;
    background:rgba(0, 0, 0, .6);

    @include mobile{
        line-height:50px;
    }
}
.rightRs:hover{
    background:#c64e2c;
}
.rightRs  img{
    width:20px;
}

.resCarousel {
    /*float: left;
    overflow: hidden;*/
    width: 100%;
    position: relative;
}

.resCarousel-inner {
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 0;
    vertical-align: top;
}

.resCarousel-inner {
    .item {
        display: inline-grid;
        font-size: 14px;
        white-space: inherit;

        figure{
            margin:1px;
        }
    }
}
.videoslist{
    .rightRs{
        top:-50px;
        line-height: 48px;
    }
    .leftRs{
        top:-50px;
        line-height: 48px;
    }
}


/*banner*/

.banner {
    overflow: hidden !important;
}


/*tile css*/

.resCarousel-inner .item .tile {
    background: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 5px;
}

.resCarousel{
  text-align:center;
}

/*animation*/

.resCarousel[data-animator="lazy"] .item {
    transition: .6s ease all;
}

.embed-responsive::before{
    padding-top:0!important;
}

@media (max-width: 767px) {  
    .resCarousel-inner {
        overflow-x: auto;

        .item{
            margin:0 2px!important;
        }
    }
}

@media (max-width: 540px) {
    .resCarousel-inner {
       .item{
           width:100%!important;
           margin:0 2px!important;
       }
    }
}

/*resCarousel Css End*/

.resCarousel-inner .item {
    /*border: 4px solid #eee;*/
    /*vertical-align: top;*/
    text-align: center;
}

.resCarousel-inner .item .tile div,
.banner .item div {
    display: table;
    width: 100%;
    min-height: 250px;
    text-align: center;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .1);*/
}

.resCarousel-inner .item h1 {
    display: table-cell;
    vertical-align: middle;
    color: white;
}

.banner .item div {
    background: url('/site/images/demoImg.jpg') center top no-repeat;
    background-size: cover;
    min-height: 550px;
}

.item .tile div {
    background: url('/site/images/demoImg.jpg') center center no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
}

.item div h1 {
    background: rgba(0, 0, 0, .4);
}