@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");
@import "../../../sass/app";
@import "variables";
@import "mixins";
@import "icomoon/icomoon";
@import "style";
@import "resCarousel";
@import "~summernote/dist/summernote-bs4.css";
//@import "../../plugins/summernote/summernote-bs4.css";


.fb-comments iframe {
  min-width:100%!important;
}
.commentsmain{
  background:#fff!important;
}